@use  './variables' as *;
/*=======================
// Off canvas menu
========================*/
.offcanvas-menu-wrap {
    max-width: 395px;
    width: 100%;
    position: fixed;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    top: 0;
    left: -395px;
    background-color: #fff;
    z-index: 9999;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    overflow-y: scroll;
    -ms-overflow-style: none;
    -moz-scrollbar-width: none;
  }
  .offcanvas-menu-wrap::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 575px) {
    .offcanvas-menu-wrap {
      max-width: 320px;
    }
}
.offcanvas-menu-wrap.sidebar-open{
  left: 0;
  z-index: 99999999999;
}
  .offcanvas-menu-wrap[data-position=right] {
    left: auto;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-theme=dark] .offcanvas-menu-wrap {
    background-color: var(--color-dark-bg_2);
  }
  .offcanvas-menu-wrap .offcanvas-content {
    height: 100vh;
    padding: 50px;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
  }
  .offcanvas-menu-wrap .offcanvas-content.offcanvas-content-style-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 35px 40px;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
    padding: 0;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-header .close-btn {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-white);
    background: var(--color-primary);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    align-self: end;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-header .close-btn a {
    color: var(--color-white);
  }
  [data-theme=dark] .offcanvas-menu-wrap .offcanvas-content .offcanvas-header .close-btn {
    --color-white: #fff;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget {
    margin-bottom: 40px;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget:last-child {
    padding-bottom: 40px;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .offcanvas-widget-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget p {
    line-height: 24px;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget p:last-child {
    margin-bottom: 0;
  }
  [data-theme=dark] .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget p {
    color: #d7d7d7;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .contact-info-list {
    margin-top: -5px;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .contact-info-list .widget-list-item {
    color: #646464;
    margin-bottom: 20px;
    padding-left: 25px;
    position: relative;
    line-height: 1.5;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .contact-info-list .widget-list-item .list-icon {
    color: var(--color-primary);
    position: absolute;
    left: 0;
    top: 4px;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .contact-info-list .widget-list-item a {
    padding-left: 0;
    line-height: 1.5;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .contact-info-list .widget-list-item a::after {
    display: none;
  }
  .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .contact-info-list .widget-list-link {
    color: #646464;
  }
  [data-theme=dark] .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .contact-info-list .widget-list-item,
  [data-theme=dark] .offcanvas-menu-wrap .offcanvas-content .offcanvas-widget .contact-info-list .widget-list-link {
    color: #d7d7d7;
  }
  
  .offcanvas-menu-wrap .offcanvas-content-style-2 .offcanvas-header {
    margin-bottom: 60px;
  }
  .offcanvas-menu-wrap .offcanvas-content-style-2 .offcanvas-bottom-area .offcanvas-widget {
    padding-top: 40px;
    margin-bottom: 0;
  }
  
  div#wrapper.open > .offcanvas-mask {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 150;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
.insta-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.galleryitem{
  & a{
    & img{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
.dark-logo{
 & img{
  width: 116px;
 }
}
.menu-icon {
  cursor: pointer;
}
.close-btn.offcanvas-close:hover a i {
  color: $primary_color;
  transition: .3s ease-in;
  transform: rotate(360deg);
}
