// Font Family
$jost:'Prata', serif;
$poppins: 'Poppins', sans-serif;


// laevents colors info 
$body-text-color: #1D1D1D;
$deepgray: #707070;

//themecolor info
$primary_color: #DC1559;

//section bg color info
$headerbg: #1D1D1D;
$herobg: #F9F9F9;
$tipsbg: #F8F8F8;
$footerbg: #1D1D1D;

//extra color info
$white: #fff;
$black: #1D1D1D;
